@import "_util";

/* Header */
header {
  .logo {
    font-family: "Cookie", cursive;
    color: $dark-color;
    font-size: 2rem;
  }
  // border: solid red;
  display: flex;
  align-items: center;
  padding: 1rem;
  /* align-items: center;
    justify-content: space-between; */
  .main-nav {
    // border: solid blue;
    display: flex;
    align-items: center;
    margin-left: 2rem;

    &__items {
      display: flex;
    }
    &__item {
      padding: 0 0.5rem;
      &:last-of-type {
        border-left: 1px solid $grayish-color;
      }
    }
    &__link {
      color: $grayish-color;
      display: flex;
      align-items: center;
    }
    &__options {
      // border: solid yellow;
      display: flex;
      margin-left: auto;
      padding: 1rem;
      .search-form {
        // border: solid red;
        align-self: center;
        display: flex;
        position: relative;
        // width: 0;
        // input {
        //   display: none;
        // }
        #search-icon {
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

/* Main*/
main {
  .hero {
    // border: solid red;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $light-color;
    &__mssg {
      // border: solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 02rem 0 2rem;
      &-header {
        font-size: 3rem;
      }
      &-detail {
        margin: 2rem 0;
        font-size: 1.2rem;
      }
      .cta__main {
        align-self: flex-start;
      }
      // align-items: center;
      //   width: 50%;
    }
    &__bg {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
